# To execute this docker-compose yml file use `docker-compose -f <file_name> up`
# Add the `-d` flag at the end for detached execution
version: "3"
services:
  selenium-hub:
    image: selenium/hub:3.141.59-krypton
    deploy:
      placement:
        constraints:
          - node.role == worker
      restart_policy:
        condition: on-failure
        delay: 30s
      resources:
        limits:
          cpus: '2'
          memory: 2g
      #Labels for docker swarm
      labels:
        - traefik.frontend.entryPoints=https,http
        - traefik.backend=selenium-hub
        - traefik.frontend.rule=Host:selenium-utv.bibsys.no;PathPrefix:/
        - traefik.frontend.redirect.permanent=true
        - traefik.enable=true
        - traefik.port=4444
    container_name: selenium-hub
    ports:
      - "4444:4444"
  chrome:
    image: selenium/node-chrome:3.141.59-krypton
    volumes:
      - /dev/shm:/dev/shm
    depends_on:
      - selenium-hub
    environment:
      - HUB_HOST=selenium-hub
      - HUB_PORT=4444
  firefox:
    image: selenium/node-firefox:3.141.59-krypton
    volumes:
      - /dev/shm:/dev/shm
    depends_on:
      - selenium-hub
    environment:
      - HUB_HOST=selenium-hub
      - HUB_PORT=4444
networks:
  traefik:
    external:
      name: traefik_ingress
